/*  Full-width video fix
*   Author: @ellesa
*   Description: Video does not span the full width of the viewport. This
*  attempts to override the inline attributes.
*/

.wrapper--video {
  width: 100%;

  .video {
    position: fixed;
    z-index: 0;
    top: 0;
  }

}

@media screen and (min-width: 90em) {
  .wrapper--video {
    .video {
      top: -240px;
    }
  }
}
