/**
*
* Controls the hero banner area
*
*/
body {

  .l-herobanner {
    margin-top: 0;
    height: 100vh;


    &.solution {
      position: fixed;
      width: 100%;
    }

    &.home {
      background-image: url($hero-home);
      background-position: center center;
      background-attachment: fixed;
      background-size: cover;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      z-index: z("below-surface");

      .l-herobanner--description {
        left: 0;
        background: $color--debug;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin: 0 auto;
        max-width: 40%;
        text-align: left;

        .l-herobanner--title {
          color: $white;
          font-size: 3rem;
          font-weight: 600;
          margin-bottom: 3rem;
          letter-spacing: 3.43px;
          line-height: 4.5rem;
          text-transform: uppercase;
        }

        p {
          color: $white;
        }
      }
    }

    &.page {
      background: url($hero-page) top left no-repeat;
      background-size: cover;
      height: 17.25rem;
      padding: 5.000rem 0;
      position: relative;
      overflow: hidden;
      width: 100%;
      z-index: z("below-surface");

      .l-herobanner--description {
        position: relative;
        top: 50%;
        transform: translateY(-45%);
      }

      .l-herobanner--title {
        font-family: Avenir;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 4px;
        line-height: 48px;
        text-transform: uppercase;
      }

      h3,
      p {
        color: $white;
      }

      .meta {
        li {
          display: inline-block;
          padding: 0 0.500rem;

          &:first-child {
            padding-left: 0;
          }
        }
      }

      .l-herobanner--featured {
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &.solution {
      padding: 10.000rem 0 4.000rem;
    }

    &.light {
      h2,
      p {
        color: $white;
      }
    }

    &.dark {
      h2,
      p {
        color: rgba($black,0.8);
      }
    }
  }


}
/**
*
* LARGE ONLY
*
*/
@media screen and (max-width: 64em) {
  body {
    .l-herobanner {
      &.home {
        height: 550px;

        .l-herobanner--description {
          max-width: 60%;
          top: 30%;

          h2,
          p {
            color: $white;
          }

          h2 {
            font-size: 1.875rem;
          }
        }
      }

      .l-wrapper--inclines {
        diplay: block;
        max-height: 200px;
        background: $color--debug;
      }
    }

    .main-wrapper {
      top: 550px;
    }
  }
}
/**
*
* MEDIUM ONLY
*
*/
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    .l-herobanner {
      &.home {
        background: url("../assets/img/bg-video-header-medium.jpg") top center no-repeat;
        background-size: cover;
        height: 550px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        .l-herobanner--description {
          max-width: 60%;
          top: 35%;

          h2,
          p {
            color: $white;
          }

          h2 {
            font-size: 1.875rem;
          }
        }
      }

      &.page {
        margin-top: 60px;
        padding-left: 0.750rem;
        padding-right: 0.750rem;

        .l-herobanner--description {
          padding-left: 0.750rem;
          padding-right: 0.750rem;
        }
      }
    }
  }
}
/**
*
* SMALL ONLY
*
*/
@media screen and (max-width: 39.9375em) {
  body {
    .l-herobanner {
      text-align: center;

      &.home {
        align-items: center;
        background: red url("../assets/img/bg-video-header-small.jpg") top center no-repeat;
        background-size: cover;
        display: flex;
        height: 450px;
        justify-content: center;
        margin-top: 60px;
        text-align: center;

        .l-herobanner--description {
          max-width: 80%;
          top: 25%;

          h2,
          p {
            color: $white;
          }
        }
      }

      &.page {
        margin-top: 60px;

        .l-herobanner--description {
          padding-left: 0.750rem;
          padding-right: 0.750rem;
        }
      }

      header {
        h2 {
          font-size: 2.000rem;
        }
      }
    }
  }
}
