/* Pallette */

$primary: #D21412;
$primary-light: #db4b56;
$warning: #FFEE67;
$white: #ffffff;
$gray: #f7f9fc;
$dark-gray: #333333;
$black: #000000;
$border-color: #e8e8e8;

/* Font Settings */

$font-family-graphik: 'Graphik', san-serif; 
$font-header-color: #3E4855;
$font-body-color: #6B7C93;