body {

    
    /* 
    *
    * No Margin 
    *
    */

    .m-nomargin {
    
        margin: 0;
    
    }
    
    .m-nomargin--bottom {
    
        margin-bottom: 0;
    
    }
    
    .m-nomargin--left {
    
        margin-left: 0;
    
    }
    
    .m-nomargin--right {
    
        margin-right: 0;
    
    }
    
    .m-nomargin--top {
    
        margin-top: 0;
    
    }
    
    
    
    /* 
    *
    * No Padding 
    *
    */

    .m-nopadding {
    
        padding: 0;
    
    }
    
    .m-nopadding--bottom {
    
        padding-bottom: 0;
    
    }
    
    .m-nopadding--left {
    
        padding-left: 0;
    
    }
    
    .m-nopadding--right {
    
        padding-right: 0;
    
    }
    
    .m-nopadding--top {
    
        padding-top: 0;
    
    }
    
    
    
    /**
    *
    * Title Bar
    *
    */
    
    .m-bar {
        
        background: $primary;
        display: block;
        margin-bottom: 1.250rem;
        padding: 0.750rem 1.250rem;
        text-transform: uppercase;
        
        .m-bar--title {
            
            color: $white;
            margin: 0;
            
        }
        
        &.m-bar--nobg {
            
            background: none;
            padding: 0;
            
            .m-bar--title {
                
                color: $font-header-color;
                
            }
            
        }
        
    }
    
    
    /* 
    *
    * Text Helpers
    *
    */
    
    
    .text-uppercase {
        
        text-transform: uppercase;
        
    }
    
    .text-white {
        
        color: $white;
        
    }
    
    
    
    /* 
    *
    * Read More
    *
    */
    
    .read-more {
        
        color: $primary;
        
        &:hover {
            
            color: rgba($primary,0.8);
            
        }
        
    }

}